doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='description' content='Create account or login to find your dream job')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap')
    link(rel='stylesheet', href='/css/style.css')
    title #{title} | Job Portal
    
  body

    .auth-page
        a.auth-logo(href='/') LOGO 
        block authcontent 

        script(src="index.js")